<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <br /><br /><br />
      <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="home" />
    </div>
  </div>
  <br /><br /><br /><br />
  <h4 class="display-4 mt-5 text-center">IPL Ticket Booking</h4>
  <hr
    class="mb-5 w-25 mt-3"
    style="border-top: 2px solid #ff8c00; border-radius: 100%"
  />
  <br /><br />
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <p><b>About Us </b></p>
      <p>
        The 2022 Indian Premier League, also known as IPL 15 or, for sponsorship
        reasons, Tata IPL 2022, is the fifteenth season of the Indian Premier
        League (IPL), a professional Twenty20 cricket league established by the
        Board of Control for Cricket in India (BCCI) in 2007. The tournament is
        being played from 26 March 2022, and to be concluded with the final on
        29 May 2022. The group stage of the tournament is being played entirely
        in the state of Maharashtra, with Mumbai and Pune hosting the matches.
        The full schedule of the tournament was announced on 6 March 2022
        <br /><br />
        The season saw the expansion of the league, with the addition of two new
        franchises. Therefore, this was the second season to have ten teams,
        after the 2011 tournament. Chennai Super Kings are the defending
        champions, having won their fourth title during the previous season.[
      </p>
    </div>
    <div class="col-lg-6 col-sm-12 mb-5">
      <p><b>Format</b></p>
      <p>
        With the introduction of the new teams, a ten-team format was created.
        This format consists of 74 matches and was introduced as retaining the
        previous format would result in 94 matches, significantly greater than
        the 60 matches from the previous season, where teams compete in a double
        round-robin tournament.
      </p>
      <p>
        The ten teams are divided into two groups of five. In the group stage,
        each team plays 14 games: facing the other four teams in their group two
        times each (one home and one away game), four teams in the other group
        once, and the remaining team two times. The groups for the tournament
        were announced on 25 February 2022
      </p>
    </div>
  </div>
  <br /><br />
  <h1 class="mt-5 mb-5 text-center">Information from IPL Federation</h1>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="mt-5 mr-5">
        <img class="img-thumbnail" [src]="youtubefront" alt="Youtube Channel" />
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 mt-5 mb-5">
      <p class="text-secondary mt-3">IPL News Access Regulations</p>
      <h2>
        Click to go to
        <a href="https://www.iplt20.com/about/news-access-regulations"
          >IPL Website</a
        >
      </h2>
      <p class="mt-4">
        These TATA Indian Premier League 2022 Regulations For News And Current
        Affairs Broadcasters For Audio Visual Broadcasting (the “Regulations”)
        are issued in relation to the TATA Indian Premier League 2022 (the
        “Tournament”), and are designed to permit and promote broad distribution
        of news relating to the matches comprising the Tournament (the “Matches”
        and each a “Match”) whilst protecting the integrity of the rights
        licensed to the Official Broadcaster (as defined below) by the Board of
        Control for Cricket in India (“BCCI”).
      </p>
      <h5>
        <i
          class="fa fa-arrow-right mr-2 text-primary mr-3"
          aria-hidden="true"
        ></i
        >Achievement Footage
      </h5>
      <h5>
        <i
          class="fa fa-arrow-right mr-2 text-primary mr-3"
          aria-hidden="true"
        ></i
        >Fresh Footage
      </h5>
      <h5>
        <i
          class="fa fa-arrow-right mr-2 text-primary mr-3"
          aria-hidden="true"
        ></i
        >News Programme(s)
      </h5>
      <h5>
        <i
          class="fa fa-arrow-right mr-2 text-primary mr-3"
          aria-hidden="true"
        ></i
        >Official Broadcaster
      </h5>
    </div>
  </div>
  <br /><br />

  <h3 class="text-center">IPL Event Snapshots</h3>
  <div class="mt-5 p-5">
    <img class="img-fluid" [src]="vaccine1" alt="vaccine1" />
  </div>
  <br />
  <div class="mt-5 p-5">
    <img class="img-fluid" [src]="vaccine2" alt="vaccine2" />
  </div>
  <br />
  <div class="mt-5 p-5">
    <img class="img-fluid" [src]="vaccine3" alt="vaccine3" />
  </div>
  <br />
  <div class="mt-5 p-5">
    <img class="img-fluid" [src]="vaccine4" alt="vaccine4" />
  </div>
  <div class="mt-5 p-5">
    <img class="img-fluid" [src]="vaccine6" alt="vaccine6" />
  </div>
  <br />

  <h1 class="mt-5 mb-5 text-center">IPL Schedule</h1>
  <div class="row mt-5 mb-5">
    <div class="col-lg-5 col-sm-12 mt-5 p-5">
      <p class="text-secondary">IPL 2022</p>
      <h2>Upcoming Matches</h2>
      <ul class="mt-3">
        <li>SUNRISERS HYDERABAD VS Royal Challengers Bangalore</li>
        <li>CHENNAI SUPER KINGS VS Delhi Capitals</li>
        <li>Mumbai Indians MUMBAI INDIANS VS Kolkata Knight Riders</li>
      </ul>
      <p>
        <a href="https://www.iplt20.com/matches/schedule/men"
          >For more Details...</a
        >
      </p>
    </div>
    <div class="col-lg-7 col-sm-12 p-5">
      <img class="img-fluid" [src]="vaccine5" alt="Follow us on Instagram" />
    </div>
  </div>
  <app-footer></app-footer>
</div>
