<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="home">
        </div>
    </div>
    <br><br><br><br>
    <h4 class="display-4 mt-5 text-center">COVID - 19 Vaccine Registration</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p><b>Getting vaccinated is safer than getting infected </b></p>
            <p>Vaccines train our immune system to recognize the targeted virus and create antibodies to fight off the disease without getting the disease itself. After vaccination, the body is ready to fight the virus if it is later exposed to it, thereby preventing illness.
                <br><br>
                Most people who are infected with SARS-CoV-2, the virus that causes COVID-19, develop an immune response within the first few weeks, but we are still learning how strong and lasting that immune response is, and how it varies between different people.
                    
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">

            <p><b>What to expect during vaccination</b></p>
            <p>Medical professionals can best advise individuals on whether or not, and when, they should receive a vaccine. A health worker will administer the vaccine, and the person receiving it will be asked to wait for 15–30 minutes before leaving the vaccination site. This is so that health workers can observe individuals for any unexpected reactions following vaccination.
            </p>
           <p>Like any vaccine, COVID-19 vaccines can cause mild-to-moderate side effects, such as a low-grade fever or pain or redness at the injection site. These should go away on their own within a few days. See WHO’s Safety of COVID-19 Vaccines explainer and Vaccines Safety Q&A to learn more about common side effects and find out who should consult with a doctor before vaccination.</p>
        </div>
    </div><br><br>
    <h1 class="mt-5 mb-5 text-center">Information from WHO</h1>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="mt-5 mr-5">
                <img class="img-thumbnail" [src]="youtubefront" alt="Youtube Channel">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5 mb-5">
            <p class="text-secondary mt-3">According to WHO</p>
            <h2>Click to go to  <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">WHO
                    Website</a></h2>
            <p class="mt-4">Equitable access to safe and effective vaccines is critical to ending the COVID-19 pandemic, so it is hugely encouraging to see so many vaccines proving and going into development. WHO is working tirelessly with partners to develop, manufacture and deploy safe and effective vaccines. </p>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>Safe and effective vaccines are a game-changing too</h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>We must continue wearing masks, cleaning our hands</h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>We should ensure good ventilation indoors, physically distancing and avoiding crowds. 

            </h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i>We must ensure fair and equitable access to vaccines</h5>
        </div>
    </div><br><br>
    
    <h3 class="text-center">How to have conversations about Vaccination</h3>
    <div class="mt-5 p-5">
        <img class="img-fluid" [src]="vaccine1" alt="vaccine1">
    </div><br>
    <div class="mt-5 p-5">
        <img class="img-fluid" [src]="vaccine2" alt="vaccine2">
    </div><br>
    <div class="mt-5 p-5">
        <img class="img-fluid" [src]="vaccine3" alt="vaccine3">
    </div><br>
    <div class="mt-5 p-5">
        <img class="img-fluid" [src]="vaccine4" alt="vaccine4">
    </div><br>
    
    <p class="text-secondary mt-5 text-center">Want to know how Vaccines are Developed?</p>
    <div class="row mt-5 mb-5">
        <div class="col-lg-5 col-sm-12 mt-5 p-5">
            <p class="text-secondary">Getting in touch is easy!</p>
            <h2>Follow WHO on their Website</h2>
            <ul class="mt-3">
                <li>Phase3</li>
                <li>Phase2</li>
                <li>Phase3</li>
            </ul>
            <p>
                <a href="https://www.who.int/news-room/feature-stories/detail/how-are-vaccines-developed">click here</a></p>

        </div>
        <div class="col-lg-7 col-sm-12 p-5">
            <img class="img-fluid" [src]="vaccine5" alt="Follow us on Instagram">
        </div>
    </div>
    <app-footer></app-footer>
</div>